body {
    background-image: url("page1.jpg");
}

::placeholder {
    color: black;
    opacity: 1;
    padding-top: 5px;
}

.collapse {
    opacity: 0.3;
    color: white;
}

.textbox {
    text-align: center;
    font-family: Verdana;
    color: black;
    top: 45px;
    padding: 25px;
}
.result1{
    font-family: Verdana;
    color: white;
}
div.result{
  border-style: solid;
  border-width: 5px;
  border-color: gray;
  border-radius: 20px;
}
.imgif {
    position: absolute;
    top: 30%;
    right: 40%;
    width: 15%;
    opacity: 1;
    display: none;
    color: white;
  }