<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://kit.fontawesome.com/4a975fa749.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="static/main.css">
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Recomendation Sytem
        <link rel="icon" src="static/popcorn.png" type="image/gif">
    </title>
    <style>
      div.x{
          margin-right:10%;
          margin-left: 10%;
      }
    </style>
</head>

<body>
    <header>
        <a href="/"><img src="static/popcorn.png" style="width:25px;height:25px;" class="header-logo"
                data-bs-toggle="tooltip" data-bs-placement="bottom" title="Home"></a>
        <a href="https://github.com/abhishekvardhan/movie-recommendation-sytem" class="header-buttons"
            data-bs-toggle="tooltip" data-bs-placement="bottom" title="View Source"><img src="static/github.png"
                style="width:25px;height:25px;right:145px;position:absolute;"></a>
        <a href="/about" data-bs-toggle="tooltip" data-bs-placement="bottom" title="About Us"><img
                src="static/group.png" style="width:25px;height:25px;right:90px;position:absolute;"
                class="header-buttons"></a>
        <a href="#contact"><img src="static/bug.png" style="width:25px;height:25px;right:35px;position:absolute;"
                data-bs-toggle="tooltip" data-bs-placement="bottom" title="Report Bugs" class="header-buttons"></a>
    </header>
    <br>
    <div class="x">
     <h1><strong> Terms Of Use </strong></h1>
     <p>
        MIT License

        Copyright (c) 2021 <strong> Abhishek Vardhan , Rahul V , Vaibhav Kovela </strong><br><br>
        
        Permission is hereby granted, free of charge, to any person obtaining a copy
        of this software and associated documentation files (the "Software"), to deal
        in the Software without restriction, including without limitation the rights
        to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
        copies of the Software, and to permit persons to whom the Software is
        furnished to do so, subject to the following conditions:<br> <br>
        
        The above copyright notice and this permission notice shall be included in all
        copies or substantial portions of the Software. <br> <br>
        
        THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
        IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
        FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
        AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
        LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
        OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
        SOFTWARE.
     </p>
     </div>
    <footer>
        <a href="https://github.com/abhishekvardhan/movie-recommendation-sytem" class="header-buttons"
            data-bs-toggle="tooltip" data-bs-placement="bottom" title="Licence" style="color:black;position:absolute;left:45%">Terms of Use</a>
            &nbsp;&nbsp;
            <a href="https://github.com/abhishekvardhan/movie-recommendation-sytem" class="header-buttons"
            data-bs-toggle="tooltip" data-bs-placement="bottom" title="View Source"><img src="static/github.png"
                style="position:absolute;width:25px;height:25px;right:45%;"></a>
    </footer>
</body>

</html>